.openlayers-exposed-spatial-filter {
  display: flex;
  align-items: center;
}

.openlayers-exposed-spatial-filter .buffer-control:not(.hidden) {
  display: flex;
  align-items: center;
}
.openlayers-exposed-spatial-filter .buffer-control > .form-item{
  margin: 0;
  display:flex;
  align-items: center;
}
.openlayers-exposed-spatial-filter button{
  margin-right:1rem;
}
.openlayers-exposed-spatial-filter .buffer-control-info {
  margin-left: .3rem;
  margin-right:1rem;
}

.openlayers-exposed-spatial-filter .buffer-control-info:after {
  content: 'm'
}
