{#
/**
 * @file
 * Default theme implementation of a container used to wrap child elements.
 *
 * Used for grouped form items. Can also be used as a theme wrapper for any
 * renderable element, to surround it with a <div> and HTML attributes.
 * See \Drupal\Core\Render\Element\RenderElement for more
 * information on the #theme_wrappers render array property, and
 * \Drupal\Core\Render\Element\container for usage of the container render
 * element.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 * - has_parent: A flag to indicate that the container has one or more parent
     containers.
 *
 * @see template_preprocess_container()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  has_parent ? 'openlayers',
] %}

{% set classes = [
  has_parent ? 'js-form-wrapper',
  has_parent ? 'form-wrapper'
] %}
{{ attach_library('lupus_admin_theme/map_offset') }}
<div class="map-wrapper">
  <div class="map-inner">
    <div{{ attributes.addClass(classes).setAttribute('style', 'height:300px') }}>
      {{ children }}
    </div>
    <div class="map-offset-trigger icon"><i class="fas fa-chevron-left"></i></div>
  </div>
  <div class="map-offset">
  </div>
  <div class="draw">
    <div class="control">
      {% if element['#has_st_filter'] %}
        <div class="button is-primary st-create-filter is-hidden is-rounded"><span class="icon"><i class="fas fa-draw-polygon"></i></span><span>{% trans %}Create selection{% endtrans %}</span></div>
        <div class="button is-light is-rounded st-buffer">
          <span id="ol-buffer-control-label" class="icon"><i class="fas fa-expand"></i></span>
          <input id="ol-buffer-control" type="range" min="1" max="50000" name="Buffer" value="10000">
          <span class="ol-buffer-control-info-wrapper"><span id="ol-buffer-control-info">0</span><span id="ol-buffer-control-unit">m</span></span>
        </div>
        <div class="button is-primary is-hidden st-submit-filter is-rounded"><span class="icon"><i class="fas fa-check"></i></span><span>{% trans %}Apply{% endtrans %}</span></div>
        <div class="button is-dark st-cancel-draw is-hidden is-rounded"><span class="icon"><i class="fas fa-times"></i></span><span>{% trans %}Cancel{% endtrans %}</span></div>
        <div class="button is-dark st-remove-filter is-rounded"><span class="icon"><i class="fas fa-eraser"></i></span><span>{% trans %}Remove selection{% endtrans %}</span></div>
      {% else %}
        <div class="button is-primary st-create-filter is-rounded"><span class="icon"><i class="fas fa-draw-polygon"></i></span><span>{% trans %}Create selection{% endtrans %}</span></div>
        <div class="button is-light is-rounded st-buffer is-hidden">
          <span id="ol-buffer-control-label" class="icon"><i class="fas fa-expand"></i></span>
          <input id="ol-buffer-control" type="range" min="1" max="50000" name="Buffer" value="10000">
          <span class="ol-buffer-control-info-wrapper"><span id="ol-buffer-control-info">0</span><span id="ol-buffer-control-unit">m</span></span>
        </div>
        <div class="button is-primary is-hidden st-submit-filter is-rounded"><span class="icon"><i class="fas fa-check"></i></span><span>{% trans %}Apply{% endtrans %}</span></div>
        <div class="button is-dark st-cancel-draw is-hidden is-rounded"><span class="icon"><i class="fas fa-times"></i></span><span>{% trans %}Cancel{% endtrans %}</span></div>
        <div class="button is-dark st-remove-filter is-hidden is-rounded"><span class="icon"><i class="fas fa-eraser"></i></span><span>{% trans %}Remove selection{% endtrans %}</span></div>
      {% endif %}
    </div>
  </div>
</div>
